:root{
    --vermelho: #E50914;
    --preta: rgb(20,20,20);
    --tileBorderRadius: 4px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos principais*/

body{
    background: var(--preta);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: rgb(235, 215, 215);
}

header .container{
    background: var(--preta);
    background: linear-gradient(to top, rgba(0,0,0,.7) 10%, rgba(0,0,0));
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 68px;
    margin-left: 0px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;

}

header .logo{
    max-width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: 55px;
    padding-right: 53px;
}

header nav a{
    text-decoration: none;
    color: #FFF;
    margin-right: 10px;
}

header nav a:hover{
    color: #AAA;
}

/*Filme principal*/

.conteudo-principal{
    font-size: 23px;
    background: linear-gradient(rgba(0,0,0,.50) 90%, rgba(0,0,0,.50)), url('img/capa.jpg');
    height: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
}

.conteudo-principal .sinopse{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 5%;
    font-size: 70px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.titulo-2{
    position:absolute;
    padding-top: 190px;
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


.botao{
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor:pointer;
    transition: .3s ease all;
}

.botao-1{
    background-color: rgba(32, 31, 31, 0.89);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor:pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: rgba(221, 201, 201, 0.884);
    color: rgb(0, 0, 0);
}

.botao-1:hover{
    background-color: rgba(19, 18, 18, 0.678);
    color: rgb(255, 255, 255);
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.conteudo-principal .container{
    width: 82%;
}

/*caixa dos filmes*/

.box-filme{
    margin-left: 55px;
    padding: 3px;
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 0.2px;
}

.thumbTitle{
    padding: 0px 0 12px 3.2%;
}

.thumbTitle2{
    padding: 40px 0 12px 3.2%;
}

.thumbSection{
    padding-top: 1%;
}

.thumbTiles.swiper-container{
    padding: 0 3.2%;
}

.thumbTile{
    width: 20%;
}

.thumbTile__image{
    width: 100%;
    border-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev{
    height: 100%;
    width: 4%;
    width: calc(3.2% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(20,20,20,0.5);
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-next{
    height: 100%;
    width: 4%;
    width: calc(3.2% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(20,20,20,0.5);
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);

}

.thumbTiles .swiper-button-prev{
    left: 0;
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-next{
    right: 0;
    border-top-left-radius: var(--tileBorderRadius);
    border-bottom-left-radius: var(--tileBorderRadius);

}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after{
    color: #FFF;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-in-out;
}

@media screen and (min-width: 640px){
    .thumbTiles .swiper-button-prev::after,
    .thumbTiles .swiper-button-next::after{
        display: none;
        font-size: 2.4vw;
    }

    .thumbTiles .swiper-button-prev:hover:after,
    .thumbTiles .swiper-button-next:hover:after{
        transform:scale(1.25);

    }

    .thumbTiles:hover .swiper-button-prev:after,
    .thumbTiles:hover .swiper-button-next:after{
        display: block;
    }

}